/* RESET */

@import url('https://fonts.googleapis.com/css2?family=Anton&family=BBH+Bartle&family=Geom:ital,wght@0,300..900;1,300..900&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  background-color: #06080b;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

/* HEADER */
.gallery-header {
  text-align: center;
  padding: 4rem 1.5rem 2.5rem;
}

.gallery-header h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.gallery-header p {
  font-size: 1.1rem;
  color: #b0b0b0;
}

/* GALLERY SECTION */
.gallery-section {
  padding: 2rem 3rem 5rem;
}

/* FLEX CONTAINER */
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

/* IMAGE CARD */
.gallery-item {
  width: 300px;
  height: 220px;
  border-radius: 9px;
  overflow: hidden;
  background-color: #1a1f2b;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* IMAGE */
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* HOVER EFFECT */
.gallery-item:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.6);
}
