
@import url('https://fonts.googleapis.com/css2?family=Anton&family=BBH+Bartle&family=Geom:ital,wght@0,300..900;1,300..900&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}


body {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: center;
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: rgba(0, 0, 0,0.4);
  backdrop-filter: blur(4px);
  
}

header{
    padding: auto;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: row;
    width: 100%;
    
    margin: 8px auto;
    border-radius: 2px;
    justify-content: space-between;
    padding: auto;
    
    

}

h3.logo{
  display: flex ;
    
  font-size: 26px;
  font-family: "BBH Bartle";
  align-items: center;
  margin-left: 9vh;
  color: white;
}

header ul{
    color: rgb(179, 199, 245);
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-right: 120px;
    padding: 0;
    align-items: center;
    


}

ul li{
    color: rgb(172, 227, 245);
    font-weight: 400;
    justify-content: space-between;

}

header a {
  text-decoration: none;
  color: rgb(175, 184, 206);
  font-weight: 600;

}

header a:hover {
  opacity: 0.8;
}

#home {
  height: 100vh;
  position: relative;

  background-image: url("assets/1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Dark overlay */
#home::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.9); /* THIS gives your 95% effect */
  z-index: 1;
}

/* Text above overlay */
.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
}

.hero-content h2 {
  font-size: 5.8rem;
  margin-bottom: 0.3rem;
}

.hero-content .title {
  font-size: 1.8rem;
  font-family: "Lexend";
  color: #ccc;
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
}

.hero-content .quote {
  max-width: 700px;
  font-size: 1.2rem;
  font-style: italic;
  line-height: 1.6;
  color: #aaa;
  font-family: "Geom", sans-serif;
  font-weight: 400;
  font-style: italic;
}



.about-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #0d0f13;
    justify-content: flex-start;
    padding: 2% 13%;
    padding-top: 5rem;
    
  
}



.aboutheading{
    display: flex;
    justify-content: center;
    font-size: 4em;
    margin-bottom: 40px;
    font-family: "Geom";

}

.abouttext{
    font-size: 1.25em;
    line-height: 2;
    font-family: "Lexend";
    color: #ccc;
    
}

/* counter css */

.counters {
  display: flex;
  gap: 6rem;
  
  flex-wrap: wrap;
  justify-content: center;
  background-color: #111213;
  padding: 5.8rem 0;
  height: auto;

}

.counter {
  text-align: left;
  margin-top: 0.5rem;
  border-radius: 10px;
  background-color: #1b1b1b;

  padding: 90px 40px;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  gap: 0.6rem;
  border: 1px solid rgba(255, 255, 255, 0.02);
  box-shadow: 
  0 10px 30px rgba(0, 0, 0, 0.2),
  inset 0 1px 0 rgba(255, 255, 255, 0.02);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;




}

.counter .number {
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
  line-height: 1;
  transition: text-shadow 0.3s ease;
  text-shadow:
    0 0 8px rgba(255, 255, 255, 0.15),
    0 0 16px rgba(255, 255, 255, 0.15);
}

.counter:hover .number {
  text-shadow:
    0 0 8px rgba(255, 255, 255, 0.45),
    0 0 16px rgba(255, 255, 255, 0.25);
}


.counter p {
  margin-top: 0.3rem;
  color: #aaa;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 600;
}

.counter:hover {
  transform: translateY(-6px);
  box-shadow:
    0 20px 50px rgba(0, 0, 0, 0.8),
    inset 0 1px 0 rgba(255, 255, 255, 0.05);
  border-color: rgba(255, 255, 255, 0.12);
}

